#app {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB,
    Microsoft Yahei, sans-serif;
  max-width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.van-theme-light body {
  color: black;
  background-color: #f7f8fa;
}

.van-theme-dark body {
  color: #f5f5f5;
  background-color: black;
}
